@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&family=Noto+Sans:wdth,wght@75,100&display=swap");

* {
  text-align: left;
  direction: ltr;
  letter-spacing: .05em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


